In [9]:
import re
import unicodedata
import pandas as pd

def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    only_ascii = nfkd_form.encode('ASCII', 'ignore')
    return only_ascii.decode()

def upper_no_accents(df, col_name):
    df[col_name] = df[col_name].apply(remove_accents)
    df[col_name] = df[col_name].str.upper()
    return df

df = pd.DataFrame({'Product Name': ['djsfas/kfí', 'dmbsfmabéProduto B', 'Produto C', 'Produto D', 'Produto E', 'Produto F', 'Produto G', 'Produto H', 'Produto I', 'Produto J']})
df = upper_no_accents(df, 'Product Name')

print(df)

         Product Name
0          DJSFAS/KFI
1  DMBSFMABEPRODUTO B
2           PRODUTO C
3           PRODUTO D
4           PRODUTO E
5           PRODUTO F
6           PRODUTO G
7           PRODUTO H
8           PRODUTO I
9           PRODUTO J

In [15]:
import re
import unicodedata
import pandas as pd
import numpy as np

def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    only_ascii = nfkd_form.encode('ASCII', 'ignore')
    return only_ascii.decode()
def remove_non_letters(string):
    return re.sub(r'[^a-zA-Z]', '', string)

def regex_treatment(df, col_name):
    df[col_name] = df[col_name].apply(remove_accents)
    df[col_name] = df[col_name].str.upper()
    df[col_name] = df[col_name].apply(remove_non_letters)
    
    return df

product_names = ['Produto A', 'd;khfsa; B', 'Prodkjaslkdfgjaáééíuto C', 'Produto D', 'Produto E', 'Produto F', 'Produto G', 'Produto H', 'Produto I', 'Produto J']
quantities = [2, 3, 5, 6, 7, 4, 6, 7, 5, 4]
df = pd.DataFrame({'Product Name': product_names, 'Quantity': quantities})
df = regex_treatment(df, 'Product Name')

df

              Product Name  Quantity
0                 PRODUTOA         2
1                  DKHFSAB         3
2  PRODKJASLKDFGJAAEEIUTOC         5
3                 PRODUTOD         6
4                 PRODUTOE         7
5                 PRODUTOF         4
6                 PRODUTOG         6
7                 PRODUTOH         7
8                 PRODUTOI         5
9                 PRODUTOJ         4