In [1]:
import plotly.graph_objects as go
import numpy as np
import plotly.io as pio
pio.renderers.default = "iframe"

# Generate data for each group
group1 = np.random.normal(170, 5, size=100)
group2 = np.random.normal(175, 7, size=100)
group3 = np.random.normal(180, 10, size=100)
group4 = np.random.normal(185, 12, size=100)
group5 = np.random.normal(190, 15, size=100)

# Calculate mean and standard deviation for each group
mean1 = np.mean(group1)
std1 = np.std(group1)
mean2 = np.mean(group2)
std2 = np.std(group2)
mean3 = np.mean(group3)
std3 = np.std(group3)
mean4 = np.mean(group4)
std4 = np.std(group4)
mean5 = np.mean(group5)
std5 = np.std(group5)

In [2]:
import pandas as pd

data = {'Group': ['1', '2', '3', '4', '5']*2,
        'Sex': ['Male', 'Female']*5,
        'Mean': [mean1, mean2, mean3, mean4, mean5]*2,
        'Standard deviation': [std1, std2, std3, std4, std5]*2}
df = pd.DataFrame(data)
df.head()

  Group     Sex        Mean  Standard deviation
0     1    Male  169.598009            4.896317
1     2  Female  175.117449            7.032780
2     3    Male  181.362002            9.567318
3     4  Female  185.896660           11.609673
4     5    Male  190.487259           14.979045

In [3]:
fig = go.Figure()

for group in df['Group'].unique():
    for sex in df['Sex'].unique():
        filtered_df = df[(df['Group'] == group) & (df['Sex'] == sex)]
        fig.add_trace(go.Bar(
#             position='dodge',
            x=filtered_df['Group'],
            y=filtered_df['Mean'],
            error_y=dict(type='data', array=filtered_df['Standard deviation'], visible=True),
            name=sex + ' ' + 'Mean Height',

        ))

fig.update_layout(
    title_text='Mean and Standard Deviation of Heights by Group and Sex',
    xaxis_title_text='Group',
    yaxis_title_text='Height (cm)',
)


# fig.update_xaxes(tickmode='auto')


fig.update_layout(
    bargap=0.0,
    bargroupgap=0.0,
    boxgap = 1,
    boxgroupgap = 0.0
)


fig.show()

In [5]:
fig = go.Figure()


for sex in df['Sex'].unique():
    filtered_df = df[(df['Sex'] == sex)]
    fig.add_trace(go.Bar(
#             position='dodge',
        x=filtered_df['Group'],
        y=filtered_df['Mean'],
        error_y=dict(type='data', array=filtered_df['Standard deviation'], visible=True),
        name=sex + ' ' + 'Mean Height',

    ))

fig.update_layout(
    title_text='Mean and Standard Deviation of Heights by Group and Sex',
    xaxis_title_text='Group',
    yaxis_title_text='Height (cm)',
)


# fig.update_xaxes(tickmode='auto')


fig.update_layout(
    bargap=0.2,
    bargroupgap=0.4,
    boxgap = 1,
    boxgroupgap = 0.0
)


fig.show()